.custom-navbar {
    
    /* Align items to the ends */
    background: linear-gradient(to top, #000000, #003914);
    /* Gradient background */
    color: #25ff99!;
    /* Text color */
    font-weight: 400;
    font-size: large;
    /* Font weight */
}

.nav-link {
    color: white !important;
    margin-right: 15px;
}

.nav-link.active {
    color: red !important;
    /* Other styles for the active link */
}


.footer {
    background: linear-gradient(to bottom, #003914, black);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 1.4em;
}




html,
body {
    height: 100%;
    margin: 0;
}

.video-background {
    position: fixed;
    top: 60px;
    /* Height of the header */
    bottom: 30px;
    /* Height of the footer */
    left: 0;
    width: 100%;
    overflow: hidden;
}

.video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Ensures video covers entire container */
}
.content {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
   
}

.btn-shop-now {
    margin-top: 20px;
    
    
    /* Adjust margin as needed */
}